@import '~bulma/bulma.sass';

.Flags {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 0.5rem 0;
  align-items: baseline;

  &-item {
    margin: 0 4px;

    @include desktop {
      &:last-child {
        margin-right: 0;
      }
    }

    img {
      width: 32px;
      height: 26px;
      object-fit: contain;
      vertical-align: middle;

      &:hover {
        filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
      }
    }
  }
}
