.SocialBox {
  $component: &;

  display: flex;
  align-items: center;

  &-link {
    width: 20px;
    height: 20px;
    margin: 0 0.6rem;
    &:last-child {
      img {
        margin-right: 2px;
      }
    }
  }

  &-image {
    width: 100%;
    height: 100%;
    transition: all 0.1s linear;
    object-fit: contain;

    &:hover {
      filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
    }
  }

  &--medium {
    .SocialBox {
      &-link {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
