@import '../../styles/variables';
@import '~bulma/bulma.sass';

.Navbar {
  background-color: transparent !important;
  align-items: center;

  &-wrapper {
    padding: 1rem;
    background: $red;
    border-bottom: 1px solid $white;
  }

  &-logo {
    width: 180px;
    max-height: 100px !important;
  }

  .navbar-brand {
    align-items: center;
  }

  .navbar-menu {
    align-items: center;

    .navbar-end {
      align-items: center;
    }

    a.navbar-item {
      border-radius: 15px;
      margin: 0 2px;
      padding: 0 15px;
      font-size: 14px;
      color: $white !important;
      transition: all 0.1s linear;

      &.is-active,
      &:hover {
        background-color: $white !important;
        color: $red !important;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }
}

@include touch {
  .Navbar {
    .navbar-menu {
      background-color: transparent;

      .navbar-item {
        padding: 0.8rem !important;

        &.is-active {
          background-color: $white;
          color: $red !important;
        }
      }

      .SocialBox {
        display: flex;
        justify-content: center;
      }
    }
  }
}
