<div class="hero-foot mb-20">
	<div class="container">
		<div class="tabs is-centered">
			<ul>
				<li><a><img class="partner-logo" src="assets/img/logos/clients/systek.svg"></a></li>
				<li><a><img class="partner-logo" src="assets/img/logos/clients/tribe.svg"></a></li>
				<li><a><img class="partner-logo" src="assets/img/logos/clients/kromo.svg"></a></li>
				<li><a><img class="partner-logo" src="assets/img/logos/clients/infinite.svg"></a></li>
				<li><a><img class="partner-logo" src="assets/img/logos/clients/gutwork.svg"></a></li>
			</ul>
		</div>
	</div>
</div>