<section class="section is-medium">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2">Wait, there's more</h2>
            <h3 class="subtitle is-5 is-muted">To make you super happy</h3>
            <div class="divider is-centered"></div>
        </div>

        <div class="content-wrapper">
            <div class="columns is-multiline icon-list">
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-github" size="large"></ion-icon>
                        </div>
                        <h4>Github</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-bitbucket" size="large"></ion-icon>
                        </div>
                        <h4>Bitbucket</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-slack" size="large"></ion-icon>
                        </div>
                        <h4>Slack</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-npm" size="large"></ion-icon>
                        </div>
                        <h4>Npm</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-javascript" size="large"></ion-icon>
                        </div>
                        <h4>Javascript</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-nodejs" size="large"></ion-icon>
                        </div>
                        <h4>Nodejs</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-angular" size="large"></ion-icon>
                        </div>
                        <h4>Angular</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-google" size="large"></ion-icon>
                        </div>
                        <h4>Google</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-python" size="large"></ion-icon>
                        </div>
                        <h4>Python</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-polymer" size="large"></ion-icon>
                        </div>
                        <h4>Polymer</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-android" size="large"></ion-icon>
                        </div>
                        <h4>Android</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-apple" size="large"></ion-icon>
                        </div>
                        <h4>Apple</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section is-medium  has-background-image" data-background="https://source.unsplash.com/g30P1zcOzXo/1600x900" data-color="#4FC1EA" data-color-opacity=".6">
    <div class="overlay"></div>
    <div class="container">

        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2 light-text is-spaced">Our clients love us</h2>
            <h3 class="subtitle is-5 light-text">Look at what they say about us</h3>
        </div>

        <div class="content-wrapper">
            <div class="columns is-vcentered">
                <div class="column is-4">
                    <figure class="testimonial">
                        <blockquote>
                            Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc minim appetere te usu, ea case duis scribentur has. Duo te consequat elaboraret, has quando suavitate at.
                        </blockquote>
                        <div class="author">
                            <img src="assets/img/illustrations/faces/1.png" alt=""/>
                            <h5>Irma Walters</h5><span>Accountant</span>
                        </div>
                    </figure>
                </div>
                <div class="column is-4">
                    <figure class="testimonial">
                        <blockquote>
                            Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc minim appetere te usu, ea case duis scribentur has. Duo te consequat elaboraret, has quando suavitate at.
                        </blockquote>
                        <div class="author">
                            <img src="assets/img/illustrations/faces/2.png" alt=""/>
                            <h5>John Bradley</h5><span>Financial Analyst</span>
                        </div>
                    </figure>
                </div>
                <div class="column is-4">
                    <figure class="testimonial">
                        <blockquote>
                            Lorem ipsum dolor sit amet, elit deleniti dissentias quo eu, hinc minim appetere te usu, ea case duis scribentur has. Duo te consequat elaboraret, has quando suavitate at.
                        </blockquote>
                        <div class="author">
                            <img src="assets/img/illustrations/faces/3.png" alt=""/>
                            <h5>Gary Blackman</h5><span>HR Manager</span>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section is-medium">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2">Get Started</h2>
            <h3 class="subtitle is-5 is-muted">Choose one of our plans</h3>
            <div class="divider is-centered"></div>
        </div>

        <div class="pricing-wrap">
            <div class="feature-card is-pricing has-text-centered">
                <h3 class="plan-name">Starter</h3>
                <img src="assets/img/illustrations/pricing/1.svg" alt=""/>
                <div class="price">
                    0
                </div>
                <p>Sign up, get some awesome features and get started now</p>
                <a class="button is-fullwidth is-bold">Get Started</a>
            </div>
            <div class="feature-card is-pricing has-text-centered">
                <h3 class="plan-name">Pro</h3>
                <img src="assets/img/illustrations/pricing/2.svg" alt=""/>
                <div class="price">
                    15
                </div>
                <p>Sign up, get some awesome features and get started now</p>
                <a class="button is-fullwidth primary-btn raised is-bold">Get Started</a>
            </div>
            <div class="feature-card is-pricing has-text-centered">
                <h3 class="plan-name">Business</h3>
                <img src="assets/img/illustrations/pricing/3.svg" alt=""/>
                <div class="price">
                    30
                </div>
                <p>Sign up, get some awesome features and get started now</p>
                <a class="button is-fullwidth is-bold">Get Started</a>
            </div>
        </div>
    </div>
</section>