<nav class="navbar is-fresh is-transparent no-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
        <div id="navbar-menu" class="navbar-menu is-static">
            <div class="navbar-end">
				<p>Paises actuando:</p>
                <a href="https://frenalacurva.net/" target="_blank" class="navbar-item is-secondary">
                    <img src="assets/img/icons/spain.png" width="25">
                </a>
                <a href="https://colombia.frenalacurva.net/" target="_blank" class="navbar-item is-secondary">
                    <img src="assets/img/icons/colombia.png" width="25">
                </a>
                <!-- <a href="#" class="navbar-item is-secondary modal-trigger" data-modal="auth-modal">
                    Log in
                </a> -->
            </div>
        </div>
    </div>
</nav>