<nav class="navbar is-fresh is-transparent no-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-end is-pulled-right">
        <div class="navbar-brand navbar-flags">
            <p>Paises actuando:</p>
            <a href="https://frenalacurva.net/" target="_blank" class="navbar-item is-secondary">
                <img src="assets/img/icons/spain.png">
            </a>
            <a href="https://colombia.frenalacurva.net/" target="_blank" class="navbar-item is-secondary">
                <img src="assets/img/icons/colombia.png">
            </a>
            <a href="https://mexico.frenalacurva.net/" target="_blank" class="navbar-item is-secondary">
                <img src="assets/img/icons/mexico.png">
            </a>
        </div></div>
    </div>
</nav>