<nav class="navbar is-fresh is-transparent no-shadow" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-end is-pulled-right">
            <div class="navbar-brand navbar-flags">
                <p class="flags-item is-secondary">Paises actuando:</p>
                <a href="https://frenalacurva.net/" target="_blank" class="flags-item is-secondary">
                    <img src="assets/img/icons/spain.png">
                </a>
                <a href="https://colombia.frenalacurva.net/" target="_blank" class="flags-item is-secondary">
                    <img src="assets/img/icons/colombia.png">
                </a>
                <a href="https://mexico.frenalacurva.net/" target="_blank" class="flags-item is-secondary">
                    <img src="assets/img/icons/mexico.png">
                </a>
                <a href="https://costarica.frenalacurva.net/" target="_blank" class="flags-item is-secondary">
                    <img src="assets/img/icons/costarica.png">
                </a>
                <a href="http://widzimy.online/" target="_blank" class="flags-item is-secondary">
                    <img src="assets/img/icons/polonia.png">
                </a>
                <a href="https://ecuador.frenalacurva.net/" target="_blank" class="flags-item is-secondary">
                    <img src="assets/img/icons/ecuador.png">
                </a>
                <a href="http://co-confines.fr/" target="_blank" class="flags-item is-secondary">
                    <img src="assets/img/icons/francia.png">
                </a>
                <a href="http://www.seguraaonda.com.br/" target="_blank" class="flags-item is-secondary">
                    <img src="assets/img/icons/brasil.png">
                </a>
                <a href="http://www.acaestamos.uy/" target="_blank" class="flags-item is-secondary">
                    <img src="assets/img/icons/uruguay.png">
                </a>
                <a href="http://argentina.frenalacurva.net/" target="_blank" class="flags-item is-secondary">
                    <img src="assets/img/icons/argentina.png">
                </a>
                <a href="http://frenalacurva.org.pe/" target="_blank" class="flags-item is-secondary">
                    <img src="assets/img/icons/peru.jpg">
                </a>
            </div>
        </div>
    </div>
</nav>