<section class="section section-feature-grey is-medium">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2">Juntxs somos más fuertes </h2>
            <h3 class="subtitle is-5 is-muted"><strong>Entra en nuestra plataforma y actúa ahora:</strong> Aprende, comparte consejos e iniciativas y cuídate.</h3>
            <div class="divider is-centered"></div>
        </div>

        <div class="content-wrapper">
            <div class="columns">
                <div class="column is-one-third">
                    <div class="feature-card is-bordered has-text-centered is-feature-reveal">
                        <div class="card-title">
                            <h4>Cuidarse</h4>
                        </div>
                        <div class="card-icon">
                            <img src="assets/img/logos/cuidarse-1.png">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="feature-card is-bordered has-text-centered is-feature-reveal">
                        <div class="card-title">
                            <h4>Aprender</h4>
                        </div>
                        <div class="card-icon">
                            <img src="assets/img/logos/aprender-1.png">
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="feature-card is-bordered has-text-centered is-feature-reveal">
                        <div class="card-title">
                            <h4>Compartir</h4>
                        </div>
                        <div class="card-icon">
                            <img src="assets/img/logos/compartir-1.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>