<section class="section section-feature-grey is-medium">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2">Great Power Comes </h2>
            <h3 class="subtitle is-5 is-muted">With great Responsability</h3>
            <div class="divider is-centered"></div>
        </div>

        <div class="content-wrapper">
            <div class="columns">
                <div class="column is-one-third">
                    <div class="feature-card is-bordered has-text-centered is-feature-reveal">
                        <div class="card-title">
                            <h4>App builder</h4>
                        </div>
                        <div class="card-icon">
                            <img src="assets/img/icons/web.svg">
                        </div>
                        <div class="card-text">
                            <p>This is some cool explanatory text that is on two rows</p>
                        </div>
                        <div class="card-action">
                            <a href="#" class="button btn-align-md primary-btn raised">Free Trial</a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="feature-card is-bordered has-text-centered is-feature-reveal">
                        <div class="card-title">
                            <h4>Cloud integration</h4>
                        </div>
                        <div class="card-icon">
                            <img src="assets/img/icons/rocket.svg">
                        </div>
                        <div class="card-text">
                            <p>This is some explanatory text that is on two rows</p>
                        </div>
                        <div class="card-action">
                            <a href="#" class="button btn-align-md primary-btn raised">Get Started</a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="feature-card is-bordered has-text-centered is-feature-reveal">
                        <div class="card-title">
                            <h4>Addons & Plugins</h4>
                        </div>
                        <div class="card-icon">
                            <img src="assets/img/icons/light-bulb.svg">
                        </div>
                        <div class="card-text">
                            <p>This is some explanatory text that is on two rows</p>
                        </div>
                        <div class="card-action">
                            <a href="#" class="button btn-align-md primary-btn raised">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>