<section class="section is-medium">
    <div class="container aaa">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-1 is-bold is-spaced">Conoce las iniciativas </h2>
            <h3 class="subtitle is-5 is-muted">Comparte las iniciativas que otros están subiendo</h3>
        </div>

        <div class="columns mt-60 has-text-centered desktop ">
            <div class="column is-3 is-green">
                <a target="_blank" href="https:/mx.frenalacurva.net/c/cuidados">
                    <img src="assets/img/illustrations/iniciativas/1.png" alt="Cuidados" class="maxw-125">
                    <p class="subtitle is-5 is-bold is-lightpurple">
                        Cuidados
                    </p>
                </a>
            </div>
            <div class="column is-3 is-green">
                <a target="_blank" href="https://mx.frenalacurva.net/c/que-puedo-hacer-durante-la-cuarentena">
                    <img src="assets/img/illustrations/iniciativas/2.png" alt="¿Qué puedo hacer durante la cuarentena?" class="maxw-125">
                    <p class="subtitle is-5 is-bold is-green">
                        ¿Qué puedo hacer durante la cuarentena?
                    </p>
                </a>
            </div>
            <div class="column is-3 is-green">
                <a target="_blank" href="https://mx.frenalacurva.net/c/trabajo">
                    <img src="assets/img/illustrations/iniciativas/3.png" alt="Trabajos" class="maxw-125">
                    <p class="subtitle is-5 is-bold is-lightgreen">
                        Trabajos
                    </p>
                </a>
            </div>
            <div class="column is-3 is-green">
                <a target="_blank" href="https:/mx.frenalacurva.net/c/educacion-para-aprender ">
                    <img src="assets/img/illustrations/iniciativas/4.png" alt="Educación / Para aprender" class="maxw-125">
                    <p class="subtitle is-5 is-bold raised is-orange">
                        Educación / Para aprender
                    </p>
                </a>
            </div>
        </div>

        <div class="title-wrapper mt-60 has-text-centered">
            <h3 class="subtitle is-5 is-muted"> 
                ¿Prefieres verlo en un word? 
                <a href="https://bit.ly/frenalacurvamx" target="_blank"> 
                    Aqui puedes hacerlo 
                </a>
            </h3>
        </div>
        

    </div>
</section>