<div class=" section hero-foot mb-20 section-feature-grey">
	<div class="container">
		<div class="column is-12">
			<div class="tabs is-centered">
				<ul>
					<li><a><img class="partner-logo" src="assets/img/logos/cuidarse-1.png"></a><br><h3 class="red title has-text-centered is-3 is-muted">Cuidarse</h3></li>
					<li><a><img class="partner-logo" src="assets/img/logos/aprender-1.png"></a><br><h3 class="red title has-text-centered is-3 is-muted">Aprender</h3></li>
					<li><a><img class="partner-logo" src="assets/img/logos/compartir-1.png"></a><br><h3 class="red title has-text-centered is-3 is-muted">Compartir</h3></li>
				</ul>
			</div>
		</div>
		<!-- <div class="column is-1">
			<h2 class="subtitle is-4 is-muted">Juntx somos más fuertes.</h2>
			<div class="button-wrap">
				<a href="http://mexico.frenalacurva.net" class="button cta is-rounded primary-btn raised">
					ACTÚA
				</a>
				<a class="button cta is-rounded">
					Discover
				</a>
			</div>
		</div> -->
	</div>
</div>