<section class="section has-bg-blue-grey section-feature-grey initiatives">
    <div class="container">
        <div class="has-text-centered">
            <h1 class="title is-1 is-bold has-text-light has-text-centered"><strong><span class="is-white">Conoce los medios oficiales en donde podrás encontrar información verificada</span></strong></h1>
            <br>
            <h3 class="subtitle is-white is-3 has-text-centered">Infórmate, cuídate y cuida, participa.</h3>
            <h3 class="subtitle is-white has-text-centered">Evitemos la desinformación, los #fakenews, mitos, etc. No todo lo que nos mandan en redes sociales es verdad, ¡infórmate! y comparte noticias que informen veracidad, no que inculquen miedo. <br><strong><span class="is-white">(Da click en la imagen para ir al sitio.)</span></strong></h3>
            <br>
        </div>
        <div class="columns is-variable is-8">
            <div class="column mb-20">
                <a target="_blank" title="Animal Político, noticias verificadas" href="https://www.animalpolitico.com/noticias-coronavirus-covid-2019-verificacion/">
                    <br>
                    <img alt="Logotipo de Animal Político" style="max-height:100px" src="assets/img/logos/animal_politico.svg">
                    <br><br>
                    <h4 class="subtitle is-extra-padded has-text-light is-3 has-text-centered">Animal Político</h4>
                    <p class="has-text-light has-text-centered is-4">Información útil y verificada sobre el Coronavirus en México.</p>
                </a>
            </div>
            <div class="column mb-20">
                <a target="_blank" title="Mapa en tiempo real del coronavirus en México" href="https://www.eleconomista.com.mx/politica/Rastreador-de-Coronavirus-Mexico-actualizacion-en-tiempo-real-20200309-0089.html">
                    <img alt="Mapa del coronavirus en México" style="max-height:128px" src="assets/img/illustrations/COVID-19_Outbreak_Cases_in_Mexico.wikipedia.svg">
                    <h4 class="subtitle is-extra-padded has-text-light is-3 has-text-centered">Mapa de Casos de Coronavirus</h4>
                    <p class="has-text-light has-text-centered is-4">Actualización en tiempo real de los casos en México.
                    </p>
                </a>
            </div>
            <div class="column mb-20">
                <a target="_blank" title="Información oficial del Gobierno de México" href="https://coronavirus.gob.mx/">
                    <br>
                    <img alt="Logotipo del Gobierno de México" style="max-height:100px" src="assets/img/logos/gob_mx.svg">
                    <br><br>
                    <h4 class="subtitle is-extra-padded has-text-light is-3 has-text-centered">Gobierno de México</h4>
                    <p class="has-text-light has-text-centered is-4">Sitio oficial del Coronavirus en México.</p>
                </a>
            </div>
        </div>
    </div>
</section>
<!--  -->