<section class="section has-background-grey">
    <div class="container">
        <h1 class="title is-bold has-text-light	has-text-centered">Informaci&oacute;n Verificada</h1>
        <div class="columns is-variable is-8">
            <div class="column mb-20">
                <a target="_blank" title="Animal Político, noticias verificadas" href="https://www.animalpolitico.com/noticias-coronavirus-covid-2019-verificacion/">
                    <img alt="Logotipo de Animal Político" style="max-height:128px" src="assets/img/logos/animal_politico.svg">
                </a>
            </div>
            <div class="column mb-20">
                <a target="_blank" title="Mapa en tiempo real del coronavirus en México" href="https://www.eleconomista.com.mx/politica/Rastreador-de-Coronavirus-Mexico-actualizacion-en-tiempo-real-20200309-0089.html">
                    <img alt="Mapa del coronavirus en México" style="max-height:128px" src="assets/img/illustrations/COVID-19_Outbreak_Cases_in_Mexico.wikipedia.svg">
                    <p class="has-text-light has-text-centered is-size-3-mobile is-size-5-tablet">Mapa en tiempo real</p>
                </a>
            </div>
            <div class="column mb-20">
                <a target="_blank" title="Información oficial del Gobierno de México" href="https://coronavirus.gob.mx/">
                    <img alt="Logotipo del Gobierno de México" style="max-height:128px" src="assets/img/logos/gob_mx.svg">
                </a>
            </div>
        </div>
    </div>
</section>
