<section>
    <div class="columns">
        <!-- <section class="column is-6 section section-feature-red has-text-centered">
            <h1 class="title white-text">Mira la guía/pasos de como ayudarte</h1>
        </section> -->
        <section class="column is-6 section section-feature-red hero has-text-centered">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title white-text">Checa nuestra guía para saber como ayudar</h1>
                    <div class="section">
                        <a href="https://bit.ly/frenalacurvamxiniciativas" class="button">Ver guía</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="column is-6 section has-text-centered hero">
            <div class="hero-body">
                <div class="container">
                    <div class="image container is-64x64">
                        <img src="assets/img/logos/telegram.png" alt="">
                    </div>
                    <h1 class="title">¿Nos quieres ayudar?</h1>
                    <h2 class="subtitle">Únete a nuestro Telegram</h2>
                    <p><strong>CHAT: </strong><a href="https://t.me/frenalacurvamxchat">https://t.me/frenalacurvamxchat</a></p>
                    <p><strong>CANAL DE DIFUSION: </strong><a href="https://t.me/frenalacurvamx">https://t.me/frenalacurvamx</a></p>
                </div>
            </div>
        </section>
    </div>
</section>