<section class="section is-medium section-feature-grey initiatives">
    <div class="container">
        <div class="columns is-vcentered app-side">
            <div class="column is-4 is-offset-1">
                <h1 class="title is-1 is-bold is-spaced">¡Infórmate!</h1>
                <p class="subtitle is-5 is-muted">Mantente pendiente de todo lo que sucede con <a href="http://mexico.frenalacurva.net">Frena La Curva México</a> a través de nuestras distintas redes sociales.</p>
            </div>
            <div class="column is-5 is-offset-1">
                <a class="twitter-timeline" data-height="600" href="https://twitter.com/frenalacurvamx?ref_src=twsrc%5Etfw">Tweets by frenalacurvamx</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <!-- <div class="has-text-centered">
                    <img class="pushed-image" src="assets/img/illustrations/mockups/app-mockup.png">
                </div> -->
            </div>
        </div>
    </div>
</section>