// TODO: change rules with sass nesting syntax

.fullBox {
  position: relative;
}

.diagonalBox {
  background: #fff;
  overflow: hidden;
}

.diagonalBox::before,
.diagonalBox::after {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  left: 0;
}

.diagonalBox::before {
  background: #f04b56;
  top: 10%;
  transform: rotate(5deg);
  transform-origin: top left;
}

.Footer {
  &-navbar {
    padding: 1rem 2rem;
  }
}
