.title-LabsDistribuidos {
  font-size: 48px;
  font-weight: bold;
  color: #e84652;
}

.pad-title {
  padding: 50px;
  padding-top: 100px;
  padding-left: 100px;
}
// @media (max-width: 600px) {
//   .pad-title{
//     padding: 50px;
//     padding-top: 100px;
//     padding-left: 100px;
//   }
// }
