@import '../../styles/variables';
@import '~bulma/bulma.sass';

@include desktop {
  .HeroAcercaDe {
    &-heroImage {
      max-width: 380px;
    }
  }
}

.DiagonalSpacer {
  background-image: linear-gradient(to top right, transparent 49.8%, $primary 50.2%);
  height: 10rem;

  &--inverted {
    background-image: linear-gradient(to left bottom, transparent 49.8%, $primary 50.2%);
    height: 10rem;
  }
}
